<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

{% block head %}
<head>
	<meta charset="utf-8" />
	<title> سامانه حساب و کتاب تیمی </title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<meta name="MobileOptimized" content="320">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href='{{static_url("Admin/plugins/font-awesome/css/font-awesome.min.css")}}' rel="stylesheet" type="text/css"/>
	<link href='{{static_url("Admin/plugins/bootstrap/css/bootstrap-rtl.min.css")}}' rel="stylesheet" type="text/css"/>
	<link href='{{static_url("Admin/css/style-metronic-rtl.css" )}}'rel="stylesheet" type="text/css"/>
	<link href='{{static_url("Admin/css/style-rtl.css" )}}'rel="stylesheet" type="text/css"/>
	<link href='{{static_url("Admin/css/style-responsive-rtl.css" )}}'rel="stylesheet" type="text/css"/>
	<link href='{{static_url("Admin/css/sweet-alert.css" )}}'rel="stylesheet" type="text/css"/>
	<link href='{{static_url("Admin/css/themes/purple-rtl.css" )}}'rel="stylesheet" type="text/css" id="style_color"/>
	<link href='{{static_url("profile.css")}}' rel="stylesheet" type="text/css"/>

    <link href='{{static_url("js/dropzone/css/dropzone-rtl.css" )}}'rel="stylesheet" type="text/css"/>
	<link href='/static/js/dropzone/css/dropzone-rtl.css' rel="stylesheet" type="text/css"/>


	<link rel="shortcut icon" href="favicon.ico" />
</head>
{% end block head  %}

<body class="page-header-fixed">

	<div class="header navbar navbar-inverse navbar-fixed-top">

		<div class="header-inner">

			<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<img src="Admin/img/menu-toggler.png" alt="" />
			</a> 
			{% block top_menu %}
			<ul class="nav navbar-nav pull-right">

				<li class="dropdown" id="header_inbox_bar">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
						data-close-others="true">
					<i class="fa fa-envelope"></i>
					<span class="badge" id="count_message">{{user['count_message']}}</span>
					</a>
					<ul class="dropdown-menu extended inbox">
						<li>
							<p>شما {{user['count_message']}} پیام دارید.</p>
						</li>
						<li>
							<ul class="dropdown-menu-list scroller" style="height: 250px;">
								{% for item in user['message'] %}

								<li id="msg_header_{{item['id']}}">
									<a href="/admin/message">
									<span class="photo"><img src="/static/upload/user_images/{{item['picture_address']}}" alt=""/></span>
									<span class="subject">
									<span class="from">{{item['name']}}</span>
									<span class="time">{{item['date']}}</span>
									</span>
									<span class="message">
										{{(item['description'])[0:50]}}
									</span>
									</a>
								</li>
								{% end for %}
							</ul>
						</li>
						<li class="external">   
							<a href="/admin/message">مشاهده همه پیام ها <i class="m-icon-swapright"></i></a>
						</li>
					</ul>
				</li>
				<!-- END INBOX DROPDOWN -->
				<!-- BEGIN TODO DROPDOWN -->


				<!-- END TODO DROPDOWN -->
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<img src="../static/upload/user_images/{{user['picture_address']}}" style="width: 30px; height: 30px;"/>
					<span id="name_user_top" class="username">{{user['name']}}</span>
					<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/profile"><i class="fa fa-user"></i> پروفایل </a></li>
						<li><a href="/admin/message"><i class="fa fa-envelope"></i> صندوق پیام <span class="badge badge-danger">{{user['count_message']}}</span></a></li>
						<li><a href="/admin/note"><i class="fa fa-comment"></i>یادداشت ها</a></li>
						<li class="divider"></li>
						<li><a href="javascript:;" id="trigger_fullscreen"><i class="fa fa-move"></i> تمام صفحه</a></li>
						<!--<li><a href="extra_lock.html"><i class="fa fa-lock"></i> Lock Screen</a></li>-->
						<li><a href="/logout"><i class="fa fa-power-off"></i> خروج</a></li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
            {% end block top_menu %}
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<div class="clearfix"></div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		{% block sidbar %}

		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu">
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search" action="extra_search.html" method="POST">
						<div class="form-container">
							<div class="input-box">
								<a href="javascript:;" class="remove"></a>
								<input type="text" placeholder="جستجو..."/>
								<input type="button" class="submit" value=" "/>
							</div>
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="start active">
					<a href="/admin">
					<i class="fa fa-home"></i>
					<span class="title"> داشبورد </span>
					<span class="selected"></span>
					</a>
				</li>

				<li class="tooltips">
					<a href="/admin/payments">
					<i class="fa fa-credit-card"></i>
					<span class="title"> پرداخت ها </span>
					</a>
				</li>


				<li class="">
					<a href="javascript:;">
					<i class="fa fa-shopping-cart"></i>
					<span class="title"> خرید ها </span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li >
							<a href="/admin/add_buy">
								خرید جدید
							</a>
						</li>
						<li >
							<a href="/admin/tinyconsumption">
								حذف خرید
							</a>
						</li>

					</ul>
				</li>


				<li class="tooltips">
					<a href="/admin/subscribers">
					<i class="fa fa-user"></i>
					<span class="title"> مشترکان </span>
					</a>
				</li>
				<li class="tooltips">
					<a href="/admin/bill">
					<i class="fa fa-list-alt"></i>
					<span class="title"> صورت حساب </span>
					</a>
				</li>

				<li class="tooltips">
					<a href="/admin/tinyconsumption">
					<i class="fa fa-list"></i>
					<span class="title"> ریز مصرف  </span>
					</a>
				</li>

				<li class="tooltips">
					<a href="/admin/message">
					<i class="fa fa-envelope"></i>
					<span class="title"> پیام ها  </span>
					</a>
				</li>

                <li class="tooltips">
					<a href="/admin/note">
					<i class="fa fa-comment"></i>
					<span class="title">  یادداشت ها  </span>
					</a>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
		</div>

		{% end block sidbar %}
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		{% block content %}
		<div class="page-content">

			<div class="row">
				<div class="col-md-12">

					<ul class="page-breadcrumb breadcrumb">

						<li>
							<i class="fa fa-angle-left"></i>
							<a href="#"> داشبورد </a></li>
						<li class="pull-right">

								<i class="fa fa-calendar"></i>
								<span>{{date}}</span>
						</li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<img src="../../static/Admin/img/01.jpg">

				</div>

			</div>

			</div>
		</div>
	{% end block content %}
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-tools">
			<span class="go-top">
			<i class="fa fa-angle-up"></i>
			</span>
		</div>

	</div>


	<script src='{{static_url("Admin/plugins/jquery-1.10.2.min.js" )}}'type="text/javascript"></script>
	<script src='{{static_url("Admin/plugins/bootstrap/js/bootstrap.min.js" )}}'type="text/javascript"></script>
	<script src='{{static_url("Admin/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")}}' type="text/javascript" ></script>
	<script src='{{static_url("Admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js" )}}'type="text/javascript"></script>
	<script src='{{static_url("Admin/plugins/jquery.cookie.min.js" )}}'type="text/javascript"></script>
	<script src='{{static_url("Admin/scripts/app.js" )}}' type="text/javascript"></script>
	<script src='{{static_url("Admin/scripts/alert/sweet-alert.min.js" )}}' type="text/javascript"></script>


	<script>
		jQuery(document).ready(function() {
		   App.init(); // initlayout and core plugins
		   Index.init();
		   Index.initJQVMAP(); // init index page's custom scripts
//		   Index.initCalendar(); // init index page's custom scripts
		   Index.initCharts(); // init index page's custom scripts
		   Index.initChat();
		   Index.initMiniCharts();
		   Index.initDashboardDaterange();
		   Index.initIntro();
		   Tasks.initDashboardWidget();
		});
	</script>

</body>
</html>