{% extends "admin.html" %}
{% block sidbar %}
<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu">
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search" action="extra_search.html" method="POST">
						<div class="form-container">
							<div class="input-box">
								<a href="javascript:;" class="remove"></a>
								<input type="text" placeholder="جستجو..."/>
								<input type="button" class="submit" value=" "/>
							</div>
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="start">
					<a href="/admin">
					<i class="fa fa-home"></i>
					<span class="title"> داشبورد </span>
					</a>
				</li>

				<li class="tooltips">
					<a href="/admin/payments">
					<i class="fa fa-credit-card"></i>
					<span class="title"> پرداخت ها </span>
					</a>
				</li>


				<li class="active">
					<a href="javascript:;">
					<i class="fa fa-shopping-cart"></i>
					<span class="title"> تراکنش ها </span>
					<span class="arrow "></span>
                    <span class="selected"></span>
					</a>
					<ul class="sub-menu">
						<li >
							<a href="/admin/add_buy">
								تراکنش جدید
							</a>
						</li>
						<li >
							<a href="/admin/del_transaction">
								حذف تراکنش
							</a>


						</li>

					</ul>
				</li>


				<li class="tooltips">
					<a href="/admin/users">
					<i class="fa fa-user"></i>
					<span class="title"> مشترکان </span>
					</a>
				</li>
				<li class="tooltips">
					<a href="/admin/bill">
					<i class="fa fa-list-alt"></i>
					<span class="title"> صورت حساب </span>
					</a>
				</li>

				</li>

				<li class="">
					<a href="javascript:;">
					<i class="fa fa-list"></i>
					<span class="title"> ریز مصرف </span>
					<span class="arrow "></span>
					</a>

				</li>

				<li class="tooltips">
					<a href="http://keenthemes.com/preview/index.php?theme=metronic_frontend" target="_blank">
					<i class="fa fa-calendar"></i>
					<span class="title"> تقویم </span>
					</a>
				</li>

                <li class="tooltips">
					<a href="http://keenthemes.com/preview/index.php?theme=metronic_frontend" target="_blank">
					<i class="fa fa-tasks"></i>
					<span class="title"> کارهای روزانه </span>
					</a>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
{% end block sidbar %}